*{
    margin: 0;
    background-color: #141414;
    color: #fff;
}

/* ********************** Acceuil Game ************** */
section{
    margin-top: 80px;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid white;
    height: 300px;
    width: 500px;
    margin: 0 auto;
    margin-top:80px;
}

.acc{
    margin: 20px;
}

.acc a{
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.image img{
    width: 110px;
    height: 120px;
    border-radius: 50%;
}
